*{
    margin: 0;
    padding: 0;
   font-family: 'Averia Libre', cursive;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.header {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: url(images/homepage_background.png);
    
}

/*----- Nav Bar -----*/
nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
     background: #fff;
}
.logo{
    width: 9em;
    cursor: pointer;
    padding-left: 1.25em;
    }
nav ul{
    width: 100%;
    margin-top: .6em;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 1.8em;
    color: #000;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 0.25em 0.4em;
    position: relative;
}
.nav-links ul li a {
    color: #000;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 400;
}
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 0.125em;
    background: #5139af;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after {
    width: 100%;
}

/*----- Main Title Home Page -----*/

.main-title h1{
    font-size: 5.6em;
    font-weight: 600;
    color: #fff;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 5%);
    text-align: center;
    -webkit-text-fill-color: #5139af;
    -webkit-text-stroke-width:0.03em;
   
}
.main-title h2{
    font-size: 2em;
    font-weight: 300;
    color: #fff;
    position: absolute;
     top: 16%;
    left: 50%;
    transform: translate(-50%,-10%);
    text-align: center;
}
.text-box {
    width:40%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-10%);
    text-align: center;
    line-height: 50px;
   text-decoration: none;
    color: #fff;
    border: 1px solid #95158e;
    border-radius: 25px;
    padding: 6px 8px;
    font-size: 25px;
    background: rgba(81,57,175,0.3);
    
   
}
.bitmoji {
    position: relative;
    top:40%;
    left: 35%;
    border-radius: 5%;
    align-content: center;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 1.5em;
    padding: 0.5em 1.51em;
    font-size: 1em;
    background: rgba(220,41,209,0.3);
    position: relative;
    cursor: pointer;
}
.hero-btn:hover {
    border: 1px solid #95158e;
    background: #dc29d1;
    transition: 1s;
}

nav .fa {
    display: none;
}

.text-box p{
    padding: 20px 8%;
}
nav.sticky{
    position: fixed;
    width: 100%
    top: 0;
    left: 0;
    z-index: 50;
}
/*----- Responsive style -----*/

@media(max-width: 1200px){
    .text-box {
    width: 70%;
    top: 50%;
    left: 50%;
    line-height: normal;
    transform: translate(-50%,-10%);
    text-align: center;
}
   .main-title h1{
    font-size: 3.5em;
    font-weight: 600;
    color: #fff;
    position: absolute;
    padding-top: 1em;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-10%);
    text-align: center;
    -webkit-text-fill-color: #5139af;
    -webkit-text-stroke-width:0.03em;
    }
    .text-box p{
        text-align: center;
        font-size: 1em;
    }
    .text-box h1 {
        font-size: 1.5em;
    }
    .main-title h2{
        margin-top: 1px;
        padding-bottom: 5%;
        font-size: 1.25em;
    }
    .hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 1.5em;
    padding: 0.5em 1.51em;
    font-size: 0.8em;
    background: rgba(220,41,209,0.3);
    position: relative;
    cursor: pointer;
}
    .nav-links ul li{
        display: block;
    }
    .nav-links {
        position: fixed;
        background: #fff;
        height: 100vh;
        width: 150px;
        top: 0;
        right: -150px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa {
        display: block;
        color: #00008b;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 0px;
    }
    .nav-links ul li a{
        font-size: 15px;
    }
    .row{
        flex-direction: column;
    }
    .services-col img{
        Width: 80%;
}
    .pricing-col img{
        Width: 80%;
      
}
.bitmoji {
    left: 15%;
    align-content: space-between;
    
}
.bitmoji img{
    width: 200px;
    height: 200px;
}

}
/*----- Services section home page-----*/

.services-background{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    width: 100%;
    height 100vh;
}

.services {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.services-col {
    flex-basis: 31%;
    background: rgba(81,57,175,0.3);
    border-radius: 1.5em;
    border: 1px solid #95158e;
    margin-bottom: 5%;
    padding: 1.25em 0.75em;
    transition: 0.5s;
}

h1{
    font-size: 2.55em;
    color: #fff;
    font-weight: 400;
    padding-bottom: 2.5em;
    
}
.services p{
    font-size: 1.5em;
    color: #fff;
    font-weight: 100;
    line-height: 1.55em;
}
.services p a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.services p a:hover{
    color: #dc29d1;
    transition: 1s;
    
}
h3{
   font-size: 1.5em;
    color: #fff;
    font-weight: 200;
    padding: 0.35em;  
}

.services-col p{
     font-size: 1em;
    color: #fff;
    font-weight: 100;
    padding: 0.35em;
}
.services-col img{
    height: 80%;
    padding-top: 1.6em;
}
.services-col:hover {
    box-shadow: 0 0 1.25em 0 rgba(0,0,0,0.2);
}

/*----- Pricing section Home Page -----*/

.pricing-background{
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    width: 100%;
    height 100vh;
}

.pricing{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 6.25em;
}
.pricing p{
    font-size: 1.5em;
    color: #fff;
    font-weight: 100;
    line-height: 1.63em;
}

.pricing p a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.pricing p a:hover{
    color: #dc29d1;
    transition: 1s;
    
}
.pricing-col {
    flex-basis: 31%;
    background: rgba(81,57,175,0.3);
    border-radius: 1.5em;
    border: 1px solid #95158e;
    margin-bottom: 5%;
    padding: 1.4em 0.75em;
    box-sizing: border-box;
    transition: 0.5s;
}
.pricing-col p{
     font-size: 1em;
    color: #fff;
    font-weight: 100;
    padding: 0.26em;
}

.pricing-col img{
    height: 80%;
    padding-top: 0.63em;
}
.pricing-col:hover {
    box-shadow: 0 0 1.25em 0 rgba(0,0,0,0.2);
}

/*--- portfolio on Home Page----*/

.portfolio-background{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    width: 100%;
    height 100vh;
}
.portfolio{
    width: 80%;
    margin: auto;
    padding-top: 6.25em;
    text-align: center;
}
.portfolio p{
    font-size: 1.5em;
    color: #fff;
    font-weight: 100;
    line-height: 1.6em;
}

.portfolio p a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.portfolio p a:hover{
    color: #dc29d1;
    transition: 1s;
    
}
.portfolio-col{
    flex-basis: 44%;
    border-radius: 1.5em;
    margin-bottom: 5%;
    text-align: left;
    background: rgba(81,57,175,0.3);
    padding: 1.5em;
    cursor: pointer;
    display: flex;
}
.portfolio-col img{
    height: 120px;
    margin-left: 0.3em;
    margin-right: 1.9em;
    border-radius: 50%;
}
.portfolio-col p{
    font-size: 1em;
    color: #fff;
    font-weight: 100;
    padding: 0.3em;
}
.portfolio-col p a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.portfolio-col p a:hover{
    color: #dc29d1;
    transition: 1s;
}

/*--- CTA on Home Page----*/

.cta-background{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    width: 100%;
    height 100vh;
}
.cta{
    width: 100%;
    margin: auto;
    padding-bottom: 0.7em;
    text-align: center;
    padding-top: 6.2em;
}

/*--- FOOTER----*/

.footer-background{
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    width: 100%;
    height 100vh;
}
.footer{
    width: 80%;
    margin: auto;
    text-align: left;
    padding-top: 6.25em;
    padding-bottom: 3.125em;
}
.footer h4{
    font-size: 2em;
    color: #fff;
    font-weight: 400;
    padding-bottom: 1.25em;
    
}.footer p{
    font-size: 1.5em;
    color: #fff;
    font-weight: 100;
    line-height: 1.5em;
}
.about-avatar{
    width: 80%;
    margin: auto;
}
.angie-avatar{
    margin-right: 0.625em;
    width: 15.7em;
    float: left;
    shape-outside: circle(70%);
    border-radius: 1.55em; 
}
.icons-background{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    width: 100%;
    height 100vh;
}
.icons{
   padding: 2.5em 0;
   text-align: center;
    display: block;
}
.social{
    text-align: right;
    padding: 1.56em;
}
.icons .social a{
    padding-right: 0.625em;
    color: inherit;
    justify-content: space-between;
}
.icons p{
    text-align: center;
    font-size: 1.1em;
    color: #fff;
}


